<h1>
  Make me a sandwich.
</h1>

<div>
<%= form_for(@order) do |f| %>
  <fieldset>
  <label>Name</label>
  <%= wrap_field_with_error(@order, :name) do %>
    <%= f.text_field :name, placeholder: "Your name" %>
  <% end %>
  <label>Email</label>
  <%= wrap_field_with_error(@order, :email) do %>
    <%= f.text_field :email, placeholder: "Your email" %>
  <% end %>
  <label>Sandwich Type</label>
  <%= wrap_field_with_error(@order, :type) do %>
    <%= f.radio_button :type, 'meaty' %>Meaty
    <%= f.radio_button :type, 'veggie' %>Veggie
    <%= f.radio_button :type, 'vegan' %>Vegan
  <% end %>
  <%= f.submit "Submit", class:"btn btn-primary" %>
  </fieldset>
<% end %>
</div>

