
<div id="joe">
  <%= image_tag('joeandsandwich.jpg') %>
</div>

<div id="outer" class="tablecloth">
<h1>
  Make me a sandwich.
</h1>

<div>
<%= form_for(@order, url: {action: :postorder} ) do |f| %>
  <fieldset>
  <label>Name</label>
  <%= wrap_field_with_error(@order, :name) do %>
    <%= f.text_field :name, placeholder: "Your name" %>
  <% end %>
  <label>Email</label>
  <%= wrap_field_with_error(@order, :email) do %>
    <%= f.text_field :email, placeholder: "Your email" %>
  <% end %>
  <label>Sandwich Type</label>
  <%= wrap_field_with_error(@order, :ordertype) do %>
    <%= f.radio_button :ordertype, 'meaty' %>Meaty
    <%= f.radio_button :ordertype, 'veggie' %>Veggie
    <%= f.radio_button :ordertype, 'vegan' %>Vegan
  <% end %>
  <br>

  <label id="ingredients-label">Select Yo Ingredients</label>
  <div id="ingredient-list-meaty">
    <% get_meat_ingredients.each_with_index do |name, i| %>
      <%= check_box_tag "order[ingredients][meat-#{i}]", name %><%= name %>
    <% end %> 
  </div>
  <div id="ingredient-list-veggie">
    <% get_veggie_ingredients.each_with_index do |name, i| %>
      <%= check_box_tag "order[ingredients][veggie-#{i}]", name %><%= name %>
    <% end %> 
  </div>
  <div id="ingredient-list-vegan">
    <% get_vegan_ingredients.each_with_index do |name, i| %>
      <%= check_box_tag "order[ingredients][vegan-#{i}]", name %><%= name %>
    <% end %> 
  </div>
  <%= f.submit "Submit", class:"btn btn-primary" %>
  </fieldset>
<% end %>
</div>
</div>
